{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
{% if response %}
<pre>
<code class='line-numbers language-{{lang}}'>
{{response}}

</code>
</pre>
<br/><br/>
<form method=POST action="{% url 'suggest' %}">
    {% csrf_token %}
  <div class="mb-3">
    <textarea class="form-control" name="code" placeholder="Have A.I. Suggest code" rows="3">{{code}}</textarea>
  </div>
  <select class="form-select" name="lang">
    <option selected>Select Programming Language</option>
    {% for lang in lang_list %}
      
      <option value="{{lang}}"> {{lang}} </option>
    
    {% endfor %}
  </select>
  <br/><br/>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
<br/>


{% else %}
<h1>Hello World!!!!</h1>
<pre>
<code class='line-numbers language-python'>
if name == "Karun":
    print("Hello Karun!")
else:
    print("Hello Friend!")
</code>
</pre>
<br/><br/>
<form method=POST action="{% url 'suggest' %}">
    {% csrf_token %}
  <div class="mb-3">
    <textarea class="form-control" name="code" placeholder="Have A.I. Suggest code" rows="3">{{code}}</textarea>
  </div>
  <select class="form-select" name="lang">
    <option selected>Select Programming Language</option>
    {% for lang in lang_list %}
      
      <option value="{{lang}}">{{lang}}</option>
    
    {% endfor %}
  </select>
  <br/><br/>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
<br/>
{% endif %}
{% else %}
 <div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br/>
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
      <div class="form-group">
        <input type="text", class="form-control" placeholder="Enter Username" name="username"> 
      <br/>  
      </div>
      <div class="form-group">
        <input type="password", class="form-control" placeholder="Enter Password" name="password"> 
      <br/>  
      </div>
      <button type="submit" class="btn btn-seco ndary">Login </button>
{% endif %}

{% endblock %}